.chat__main
  .chat__main__group--info
    .group--info
      %h2.group--info__name
        = @group.name
      %ul.group--info__member
        Member：
        %li.member--list
        - @user.each do |user|
          = user.name
    %a{href: 'edit', class: "edit--btn"}
      .edit--btn__frame Edit
  .chat__main__message--list
    = render @messages
  .chat__main__message--form
    = form_for [@group, @message] do |f|
      .form__box
        .input__box
          = f.text_field :content, class: 'input__box__text', placeholder: "type a message"
          = f.label :image, class: 'input__box__image' do
            = icon('fas', 'image', class: 'icon')
            = f.file_field :image, class: 'input__box__image__file'
        = f.submit 'Send', class: 'submit__btn'
