.side__bar
  .side__bar__user--name
    .side--header
      %p.side--header__user
        = current_user.name
      %ul.header__function
        %li.header__function__btn
          = link_to new_group_path, class: "contents__btn" do
            = icon('far', 'edit', class: "contents__btn--edit")
        %li.header__function__btn
          = link_to edit_user_path(current_user), class: "contents__btn" do
            = icon('fas', 'cog', class: "contents__btn--cog")
  .side__bar__groups
    - current_user.groups.each do |group|
      .side__bar__group
        = link_to '#' do
          .side__bar__group--name 
            = group.name
          .side__bar__group--message まだメッセージがありません